@import 'utility'

$base-text-size: 16px
$base-font-family: 'Creepster', cursive
$module-font: 'Meddon', cursive
$titular-color: #EAEAEA
$blood: #8A0303

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  background-color: rgba(10,9,8,1.5)

.card
  border: 2px solid #0d0d0d
    radius: 10px
  height: 200px
  margin: 10px
  text-align: center

  &.up
    width: 165px

  &.down

main
  display: flex
  flex:
    direction: row
    wrap: wrap
  justify-content: space-around
  margin-left: 10%
  margin-right: 10%

button
  font-family: $base-font-family
  width: 200px
  border: 2px solid #0d0d0d
    radius: 10px
  font-size: 30px
  background-color: #fff
  text-align: center

.Title
  h1
    color: $titular-color
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7)
    text-align: center
    font-size: 4.25em

.Win
  font-family: $module-font
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7)
  text-align: center
  font-size: 4.25em

  h1
    color: $titular-color

  h4
    color: $blood
